<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add restaurant</title>
  </head>
  <style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
  <body>
    <form action="/createRestarant" method="post">
            <input type="text" name="name" placeholder="Nombre del restaurante"></br>
            <input type="text" name="category" placeholder="Categoria del restaurante"></br>
            <input type="text" name="zipCode" placeholder="Codigo postal del restaurante"></br>
            <input type="text" name="phone" placeholder="Telefono del restaurante"></br>
            <input type="submit">
    </form>
  </body>
</html>
