<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show Restaurant</title>
  </head>
  <style media="screen">
    table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    table td, table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    table tr:nth-child(even){
      background-color: #f2f2f2;
    }

    table tr:hover {
      background-color: #ddd;
    }

    table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
</
  </style>
  <body>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Categoria</th>
        <th>Codigo postal</th>
        <th>Telefono</th>
      </tr>
      <%for (var i = 0; i < restaurants.length; i++) {
        %><tr>
          <td><%= restaurants[i].nombre %></td>
          <td><%= restaurants[i].categoria %></td>
          <td><%= restaurants[i].codigo_postal %></td>
          <td><%= restaurants[i].telefono %></td>
        </tr>
      <%}%>
    </table>
  </body>
</html>
